body
{
    background-color: #d5edf5;
}

canvas
{
    border:1px solid gray;
}

section
{
    padding-top: 5px;
    padding-bottom: 5px;
}

#hiddenCanvas
{
    display: none;
}

header
{
    font-family: "Roboto", sans-serif;
}

main
{
    font-family: "Open Sans", sans-serif;
}

button, select, input
{
    font-size: 16px;
}